<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../static/lib/js/crossfilter.js"></script>
<script src="../static/lib/js/queue.js"></script>
<script src="../static/lib/js/d3.min.js"></script>
<script src="../static/lib/js/dc.js"></script>
<script src="../static/lib/js/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="../static/css/force.css"/>
<title>Insert title here</title>
</head>
<body>
	<div  id="chart"></div>
	<script src="../static/js/force.js"></script>
</body>
</html>